In [5]:
import pandas as pd
dataset={'cars':['bmw','polo','ford'],'rate':[3,7,4]}
print(pd.DataFrame(dataset))

   cars  rate
0   bmw     3
1  polo     7
2  ford     4

In [2]:
a=[1,7,2]
pd.Series(a)

0    1
1    7
2    2
dtype: int64

In [4]:
a=[1,7,2]
print(pd.Series(a,index=['x','y','z']))

x    1
y    7
z    2
dtype: int64

In [1]:
#read from csv file

import pandas as pd 
df=pd.read_csv('dirtydata.csv')
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [2]:
import pandas as pd 
df=pd.read_csv('dirtydata.csv')
df.head(10)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7       450  '2020/12/08'    104       134     253.3
8        30  '2020/12/09'    109       133     195.1
9        60  '2020/12/10'     98       124     269.0

In [3]:
import pandas as pd 
df=pd.read_csv('dirtydata.csv')
df.tail(15)

    Duration          Date  Pulse  Maxpulse  Calories
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [4]:
import pandas as pd 
df=pd.read_csv('dirtydata.csv')
df.info(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
Duration    32 non-null int64
Date        31 non-null object
Pulse       32 non-null int64
Maxpulse    32 non-null int64
Calories    30 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.3+ KB

In [6]:
import pandas as pd 
df=pd.read_csv('glass.csv')
df.dropna()

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00     1
5    1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26     1
6    1.51743  13.30  3.60  1.14  73.09  0.58  8.17  0.00  0.00     1
7    1.51756  13.15  3.61  1.05  73.24  0.57  8.24  0.00  0.00     1
8    1.51918  14.04  3.58  1.37  72.08  0.56  8.30  0.00  0.00     1
9    1.51755  13.00  3.60  1.36  72.99  0.57  8.40  0.00  0.11     1
10   1.51571  12.72  3.46  1.56  73.20  0.67  8.09  0.00  0.24     1
11   1.51763  12.80  3.66  1.27  73.01  0.60  8.56  0.00  0.00     1
12   1.51589  12.88  3.43  1.40  73.28  0.69  8.05  0.00  0.24     1
13   1.51748  12.86  3.56  1.27  73.21  0.54  8.38  0.00  0.17     1
14   1.51763  12.61  3.59  1.31  73.29  0.58  8.50  0.00  0.00     1
15   1.51761  12.81  3.54  1.23  73.24  0.58  8.39  0.00  0.00     1
16   1.51784  12.68  3.67  1.16  73.11  0.61  8.70  0.00  0.00     1
17   1.52196  14.36  3.85  0.89  71.36  0.15  9.15  0.00  0.00     1
18   1.51911  13.90  3.73  1.18  72.12  0.06  8.89  0.00  0.00     1
19   1.51735  13.02  3.54  1.69  72.73  0.54  8.44  0.00  0.07     1
20   1.51750  12.82  3.55  1.49  72.75  0.54  8.52  0.00  0.19     1
21   1.51966  14.77  3.75  0.29  72.02  0.03  9.00  0.00  0.00     1
22   1.51736  12.78  3.62  1.29  72.79  0.59  8.70  0.00  0.00     1
23   1.51751  12.81  3.57  1.35  73.02  0.62  8.59  0.00  0.00     1
24   1.51720  13.38  3.50  1.15  72.85  0.50  8.43  0.00  0.00     1
25   1.51764  12.98  3.54  1.21  73.00  0.65  8.53  0.00  0.00     1
26   1.51793  13.21  3.48  1.41  72.64  0.59  8.43  0.00  0.00     1
27   1.51721  12.87  3.48  1.33  73.04  0.56  8.43  0.00  0.00     1
28   1.51768  12.56  3.52  1.43  73.15  0.57  8.54  0.00  0.00     1
29   1.51784  13.08  3.49  1.28  72.86  0.60  8.49  0.00  0.00     1
..       ...    ...   ...   ...    ...   ...   ...   ...   ...   ...
184  1.51115  17.38  0.00  0.34  75.41  0.00  6.65  0.00  0.00     6
185  1.51131  13.69  3.20  1.81  72.81  1.76  5.43  1.19  0.00     7
186  1.51838  14.32  3.26  2.22  71.25  1.46  5.79  1.63  0.00     7
187  1.52315  13.44  3.34  1.23  72.38  0.60  8.83  0.00  0.00     7
188  1.52247  14.86  2.20  2.06  70.26  0.76  9.76  0.00  0.00     7
189  1.52365  15.79  1.83  1.31  70.43  0.31  8.61  1.68  0.00     7
190  1.51613  13.88  1.78  1.79  73.10  0.00  8.67  0.76  0.00     7
191  1.51602  14.85  0.00  2.38  73.28  0.00  8.76  0.64  0.09     7
192  1.51623  14.20  0.00  2.79  73.46  0.04  9.04  0.40  0.09     7
193  1.51719  14.75  0.00  2.00  73.02  0.00  8.53  1.59  0.08     7
194  1.51683  14.56  0.00  1.98  73.29  0.00  8.52  1.57  0.07     7
195  1.51545  14.14  0.00  2.68  73.39  0.08  9.07  0.61  0.05     7
196  1.51556  13.87  0.00  2.54  73.23  0.14  9.41  0.81  0.01     7
197  1.51727  14.70  0.00  2.34  73.28  0.00  8.95  0.66  0.00     7
198  1.51531  14.38  0.00  2.66  73.10  0.04  9.08  0.64  0.00     7
199  1.51609  15.01  0.00  2.51  73.05  0.05  8.83  0.53  0.00     7
200  1.51508  15.15  0.00  2.25  73.50  0.00  8.34  0.63  0.00     7
201  1.51653  11.95  0.00  1.19  75.18  2.70  8.93  0.00  0.00     7
202  1.51514  14.85  0.00  2.42  73.72  0.00  8.39  0.56  0.00     7
203  1.51658  14.80  0.00  1.99  73.11  0.00  8.28  1.71  0.00     7
204  1.51617  14.95  0.00  2.27  73.30  0.00  8.71  0.67  0.00     7
205  1.51732  14.95  0.00  1.80  72.99  0.00  8.61  1.55  0.00     7
206  1.51645  14.94  0.00  1.87  73.11  0.00  8.67  1.38  0.00     7
207  1.51831  14.39  0.00  1.82  72.86  1.41  6.47  2.88  0.00     7
208  1.51640  14.37  0.00  2.74  72.85  0.00  9.45  0.54  0.00     7
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.00     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.00     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.00     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.00     7

[214 rows x 10 columns]

In [6]:
import pandas as pd 
df=pd.read_csv('dirtydata.csv')
print("0 the row:")
print(df.loc[0])

0 the row:
Duration              60
Date        '2020/12/01'
Pulse                110
Maxpulse             130
Calories           409.1
Name: 0, dtype: object

In [7]:
import pandas as pd 
df=pd.read_csv('dirtydata.csv')
print(df.fillna(12,inplace=True))

None

In [10]:
import pandas as pd 
df=pd.read_csv('dirtydata.csv')
print(df.fillna(34,inplace=True))

None

In [11]:
import pandas as pd 
df=pd.read_csv('dirtydata.csv')
x=df.mean()
print("mean",x)
print(df.fillna(x,inplace=True))

mean Duration     68.4375
Pulse       103.5000
Maxpulse    128.5000
Calories    304.6800
dtype: float64
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00